body {
    margin: 0;
}

header {
    background-color: rgb(31, 125, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3vw;
}

.site-menu > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu li {
    margin: 0 15px;
}

.site-menu a {
    color: #fff;
}